* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.mapPopup .leaflet-popup-content-wrapper {
  padding: 0;
  margin: 0;
}
.mapPopup .leaflet-popup-content {
  margin: 0;
  margin: 0;
}

/* Remove default p tag margins inside Leaflet popups */
.leaflet-popup-content p {
  margin: 0 !important;
}
